<div class="mv">
    <div class="mv-inner">
        <div class="mv-left">
            <h2 class="mv-title"><span>あなたの趣味や特技</span><br><span>学びたいことの助けに</span></h2>
            <p class="mv-txt">How-to.tubeは様々なジャンルの<br>学びたいことをユーザー同士で<br>教えあえるアプリケーションです</p>
            <%= link_to '新規登録', new_user_registration_path, class: "btn" %>
        </div>
        <div class="mv-right">
            <img src="<%="/images/osie.png"%>" alt="">
        </div>
    </div>
</div>
<section class="contents">
    <div class="contents-inner">
        <h2 class="contents-title">How-to.Tubeの使い方</h2>
        <div class="content-box">
            <h2 class="content-title"><span>How-to投稿</span></h2>
            <img src="<%="/images/toukou.png"%>" alt="">
            <p>How-to投稿で、自分の得意なことや好きなことのやり方を動画に撮り、投稿しましょう。</p>
        </div>
        <div class="content-box">
            <h2 class="content-title"><span>質問投稿</span></h2>
            <img src="<%="/images/hatena.png"%>" alt="">
            <p>質問投稿で、自分の学びたいことについて質問しましょう。</p>
        </div>
        <div class="content-box">
            <h2 class="content-title"><span>先生・生徒アイコン</span></h2>
            <img src="<%="/images/tea.png"%>" alt="">
            <p>ユーザーには、<span class="mark student">生徒</span>アイコンが付いています。<br>いいねを100集めると<span class="mark teacher">先生</span>アイコンに変わり、投稿に説得力が増します。<br>頑張っていいねを集めましょう。</p>
        </div>
    </div>
</section>